<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFClientId</key>
	<string>aawup0rupn</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>해당 앱은 플레이스 정보 조회를 위해 사용자의 현위치 정보를 수집합니다.</string>
</dict>
</plist>
